data/raw/
__pycache__/
*.pyc
*.bigWig
data/hg38.fa
data/hg38.fa.gz
data/hg38.fa.fai
data/gencode_v47_basic.gtf.gz
data/cache/
data/encode_sweep/
data/raw/deepspcas9variants/
data/raw/be_pance/
data/raw/pam_diversity_ml/
data/raw/h3_lysine_pe/
data/raw/abe_reversion/
data/raw/parts_list/
data/raw/seq_display/
data/raw/tadacbe_zebrafish/
data/raw/supeg_trna/
data/raw/code_editing/
data/raw/pnlm_pcabe/
data/raw/spufz1_dl/
data/raw/cas12a_bridge_helix/
data/raw/sdd7_cbe/
data/raw/lnp_prime_editing/
